/* About Section */
.aboutSection{
    margin: 10rem 15rem;
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: space-between;
}

.aboutSection .aboutDetails{
    max-width: 50rem;
}

.aboutSection .aboutDetails h6{
    color: var(--pryClr);
}

.aboutSection .aboutDetails h2{
    color: var(--secClr);
    font-family: var(--Kanit);
    font-size: 3rem;
    line-height: 1.2;
}

.aboutSection .aboutDetails P{
    color: var(--black);
    font-size: 1.2rem;
    font-family: var(--Poppins);
}

.aboutSection .aboutDetails button{
    padding: 1rem 2rem;
    background-color: var(--secClr);
    outline: none;
    border: none;
    color: var(--white);
    font-family: var(--Poppins);
    font-weight: 500;
    margin-top: 2rem;
}



.aboutSection .aboutImage{
    height: 45rem;
    min-width: 48rem;
    position: relative;
    overflow: hidden;
}

.aboutSection .aboutImage .absoluteImageContainer{
    position: absolute;
    top: 0;
    right: 10rem;
}

.aboutSection .aboutImage .absoluteImageContainer2{
    position: absolute;
    bottom: 0;
    left: 0;
}

.aboutSection .aboutImage .imageContainer{
    box-shadow: 0px 2px 25px rgba(0, 33, 91, 0.207605);
}

.aboutSection .aboutImage .absoluteImageContainer2 .imageContainer{
    position: relative;
    width: 25rem;
    height: 30rem;
    overflow: hidden;
    border: 1rem solid var(--white);
    border-radius: 2pz;
}

.aboutSection .aboutImage .absoluteImageContainer .imageContainer{
    position: relative;
    height: 30rem;
    width: 20rem;
    overflow: hidden;
    border: 1rem solid var(--white);
    border-radius: 2px;
}

.aboutSection .aboutImage .aboutCTAStyle{
    background-color: var(--black);
    padding: 1rem 1.2rem;
    font-size: 3rem;
    max-width: 5rem;
    position: absolute;
    top: 12.5rem;
    left: 16rem;
    color: var(--white);

}

.aboutSection .aboutImage .aboutImageText{
    max-width: 16rem;
    position: absolute;
    left: 28rem;
    bottom: 5rem;
}

.aboutSection .aboutImage .aboutImageText p{
    font-weight: 600;
    font-size: 1.5rem;
    color: #9CC03A;
    font-family: var(--Kanit);
    line-height: 1.4rem;
}

/* Other Services */
.otherServices{
    padding: 5rem 15rem;
}

.otherServices h2{
    font-family: var(--Kanit);
    letter-spacing: 1.3px;
}

.otherServices .cardContainer{
    display: flex;
    gap: 3rem;
    margin-top: 3rem;
    overflow-x: scroll;
    padding: 2rem 0;
}

.otherServices .cardContainer::-webkit-scrollbar {
    display: none;
}

.otherServices .serviceDetails{
    margin-top: 5rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    position: relative;
}

.otherServices .serviceDetails button{
    background-color: var(--pryClr);
    padding: 1rem 2rem;
    color: var(--white);
    margin-top: 2rem;
    outline: none;
    border: none;
    letter-spacing: 1.3px;
}

.otherServices .serviceDetails .devText{
    width: 50vw;
    margin-bottom: 5rem;
}

.otherServices .serviceDetails .devText h2{
    color: var(--secClr);
}

.otherServices .serviceDetails .devText p{
    font-family: var(--Jakarta);
}

.otherServices .serviceDetails .devImage{
    position: relative;
    width: 50vw;
    height: 60rem;
}

.otherServices .serviceDetails .sideImg{
    position: absolute;
    top: 0;
    right: 0;
}

.otherServices .serviceDetails .sideImg .sideImgContainer{
    position: relative;
    width: 22vw;
    height: 40rem;
    overflow: hidden;
}

.otherServices .serviceDetails .devAction{
    position: absolute;
    top: 25rem;
    right: 10vw;
    padding: 4rem 2rem 4rem 4rem;
    max-width: 25vw;
    background-color: var(--pryClr);
    color: var(--white);
    box-shadow: 5rem 7rem 5px 10px rgba(0, 0, 0, .2);
}

.otherServices .serviceDetails .devAction h2{
    margin-bottom: 5rem;
}

.otherServices .serviceDetails .devAction p{
    margin-bottom: 5rem;
    font-family: var(--Jakarta);
}

.otherServices .serviceDetails .devAction button{
    margin-bottom: 5rem;
    padding: 2rem 2px;
    outline: none;
    border: none;
    position: relative;
    width: 4rem;
    height: 4rem;
}


/* Media Queries */ 
@media screen and (max-width: 1100px) {
    .aboutSection .aboutImage {
        min-width: 40rem;
        height: 35rem;
    }

    .aboutSection .aboutImage .absoluteImageContainer .imageContainer {
        width: 17rem;
        height: 22rem;
    }

    .aboutSection .aboutImage .absoluteImageContainer2 .imageContainer {
        width: 20rem;
        height: 23rem;
    }

    .aboutSection .aboutImage .aboutCTAStyle {
        left: 11rem;
        top: 10rem;
    }

    .aboutSection .aboutImage .aboutImageText {
        left: 22rem;
    }

    .otherServices .serviceDetails .sideImg, .otherServices .serviceDetails .devAction{
        display: none;
    }

    .otherServices .serviceDetails .devText, .otherServices .serviceDetails .devImage{
        width: 100%;
    }
}

@media screen and (max-width: 900px){
    .aboutSection{
        margin: 10rem 8rem;
    }
    
    .otherServices {
        padding: 5rem 8rem;
    }
}

@media screen and (max-width: 750px){
    .aboutSection{
        gap: 2rem;
    }

    .aboutSection .aboutDetails h2{
        font-size: 2rem;
        line-height: 1.1;
        margin-bottom: 1rem;
    }

    .aboutSection .aboutImage{
        min-width: 32rem;
        height: 33rem;
    }


    .aboutSection .aboutImage .absoluteImageContainer .imageContainer{
        width: 16rem;
        height: 20rem;
    }

    .aboutSection .aboutImage .absoluteImageContainer{
        right: 5rem;
    }

    .aboutSection .aboutImage .absoluteImageContainer2 .imageContainer{
        width: 17rem;
        height: 20rem;
    }

    .aboutSection .aboutImage .aboutImageText{
        left: 19rem;
    }

    
    .aboutSection .aboutImage .aboutCTAStyle{
        left: 9rem;
    }

    .otherServices {
        padding: 5rem 8rem;
    }
}

@media screen and (max-width: 600px){

    .aboutSection{
        margin: 7rem 3rem;
    }

    .aboutSection .aboutImage .aboutImageText p{
        font-size: 1.3rem;
    }

    .otherServices{
        padding: 3rem;
    }
}

@media screen and (max-width: 450px){

    .aboutSection{
        flex-direction: column;
    }

    .aboutSection .aboutImage .aboutImageText p{
        font-size: 1.3rem;
    }

    .otherServices .cardContainer{
        gap: 1.5rem;
    }

    .otherServices  .serviceDetails .devText{
        order: 1;
    }

    .otherServices  .serviceDetails .devImage{
        height: 30rem;
    }
}

@media screen and (max-width: 320px) {

    .aboutSection .aboutImage {
        min-width: 30rem;
        height: 33rem;
    }
}