.heroSection {
    padding: 6rem 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20rem;
    position: relative;
    width: 100%;
    background: #01591180;
    overflow: hidden;

}

.heroSection .heroImage {
    z-index: -1;
}

.heroSection .heroDetails {
    width: 40rem;
    overflow: hidden;
    margin: 10rem 0rem;
    color: var(--white);
    z-index: 2;
}

.heroSection .heroDetails .heroDetailsTag {
    font-family: var(--Poppins);
}

.heroSection .heroDetails .heroDetailsTitle {
    font-family: var(--Neuton);
    font-weight: 400;
    font-size: 7rem;
    line-height: .7;
    margin-bottom: 3rem;
}

.heroSection .heroDetails .heroDetailsDescription {
    font-family: var(--Poppins);
    font-weight: 300;
    font-size: 1.2rem;
    max-width: 60ch;
}

.heroSection .heroDetails .heroDetailsLocation {
    font-family: var(--Poppins);
    font-weight: 400;
    margin: 1rem 0;
    font-size: 1.2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.heroSection .heroNextButton {
    padding: 4rem 4.2rem;
    border-radius: 50%;
    background: #FFFFFF60;
    font-size: 4rem;
}

.heroSection .heroDetails .heroCTA {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heroSection .heroDetails .heroCTA button {
    padding: 1rem 2rem;
    background-color: var(--pryClr);
    outline: none;
    border: none;
    color: var(--white);
    font-family: var(--Poppins);
    font-weight: 500;
    margin-top: 2rem;
}

.heroSection .heroDetails .heroCTA .heroCTAStyle {
    background-color: var(--black);
    padding: 1rem 1.2rem;
    font-size: 3rem;
}

.heroSection .extraHeroDetails {
    position: absolute;
    top: 5rem;
    right: 15rem;
}

.heroSection .extraHeroDetails .completedProjects,
.heroSection .extraHeroDetails .yrExp {
    color: var(--white);
    padding: 1rem 1rem;
    font-family: var(--Poppins);
}

.heroSection .extraHeroDetails .completedProjects {
    background-color: var(--secClr);
    margin-bottom: 1rem;
}

.heroSection .extraHeroDetails .yrExp {
    background-color: var(--pryClr);
}

.heroSection .extraHeroDetails h2 {
    font-size: 4rem;
    line-height: 1;
    font-weight: 700;
}

.heroSection .extraHeroDetails p {
    font-size: .8rem;
}

/* Media Queries */
@media screen and (max-width: 900px) {

    /* NavBar */
    .heroSection .extraHeroDetails,
    .heroSection .heroNextButton {
        display: none;
    }

    .heroSection .heroDetails {
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .heroSection {
        padding: 3rem;
    }
}